rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      match /games/{gameId} {
      	// Allow read update and delete only to the owner of the game
        allow update, delete: if request.auth != null && request.auth.uid == resource.data.owner;
        
        // Allow read to all players
        allow read: if request.auth.uid in resource.data.players;
        //allow read, write: if request.auth.uid == resource.data.owner;
        
        // Allow everyone to create new games
        allow create: if request.auth != null;
        
         match /factories/{factory} {
          allow read, write: if request.auth.uid in resource.data.players;
        }
      }
    }
  }
}